{sys, [
       {lib_dirs, ["../apps/", "../deps/"]},
       {rel, "riak_id", "1",
        [
         kernel,
         stdlib,
         sasl,
         riak_id
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "riak_id"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, sasl, [{incl_cond, include}]},
       {app, riak_id, [{incl_cond, include}]}
      ]}.

{target_dir, "riak_id"}.

{overlay_vars, "vars.config"}.

{overlay, [
           {mkdir, "data/ring"},
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {template, "files/app.config", "etc/app.config"},
           {template, "files/vm.args", "etc/vm.args"},
           {template, "files/riak_id", "bin/riak_id"},
           {template, "files/riak_id-admin", "bin/riak_id-admin"}
           ]}.
